@font-face {
  font-family: 'Lucida Sans Unicode';
  src: url("../fonts/lucida-sans-unicode.woff2");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Lucida Sans Unicode', sans-serif;
}

html {
  min-height: 100vh;
}

body {
  background: #f6f6f7;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper {
  max-width: 576px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 40px;
  min-height: 100vh;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
}

.intro__title {
  font-size: 30px;
  line-height: 46px;
  color: #2B5E74;
  margin-bottom: 20px;
}

.intro__img {
  width: 100%;
}

.cats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 18px;
          column-gap: 18px;
  row-gap: 18px;
}

.cats__item {
  background: #FFFFFF;
  border-radius: 4px;
  padding: 4px 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  line-height: 25px;
  color: #2B5E74;
}

.cats__item svg {
  margin-left: 9px;
}

section {
  margin-bottom: 15px;
}

.title {
  font-size: 20px;
  line-height: 31px;
  color: #2B5E74;
  margin-bottom: 10px;
}

.popular__slider {
  width: calc(100% + 80px);
  margin-left: -40px;
  padding-left: 40px;
}

.popular__slider .swiper-wrapper {
  width: 100%;
}

.popular__item {
  background: #FFFFFF;
  border-radius: 8px;
  padding: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 190px;
  margin-right: 20px;
}

.popular__item-img {
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: 24px;
}

.popular__item-img img {
  max-width: 100%;
}

.popular__item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 18px;
}

.popular__item-cats {
  row-gap: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.popular__item-cat {
  background: #F6F6F7;
  border-radius: 4px;
  padding: 2px 10px;
  font-size: 12px;
  line-height: 18px;
  color: #2B5E74;
}

.popular__item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.popular__item-title {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 5px;
  color: #2B5E74;
}

.popular__item-price {
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  color: #2B5E74;
}

.new__list {
  row-gap: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.new__item {
  width: 100%;
  background: #FFFFFF;
  border-radius: 8px;
  padding: 16px 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new__item-title {
  font-size: 14px;
  line-height: 22px;
  color: #2B5E74;
}

.new__item-desc {
  font-size: 12px;
  line-height: 18px;
  color: rgba(43, 94, 116, 0.4);
}

.new__item-price {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 1px;
  color: #2B5E74;
}

.new__item-p {
  font-size: 10px;
  line-height: 15px;
  color: #2B5E74;
}

.new__item-mid {
  margin: 0 10px;
}

.mb-40 {
  margin-bottom: 40px;
}

.pb-0 {
  padding-bottom: 0;
}

.project {
  background: #FFFFFF;
  width: calc(100% + 80px);
  margin-left: -40px;
  height: calc(100vh - 115px);
  padding: 70px 40px 40px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 25px 25px 0 0;
  overflow: hidden;
}

.project__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: calc(100vh - 295px);
  overflow-x: auto;
  width: calc(100% + 80px);
  padding-right: 80px;
  padding-bottom: 20px;
}

.project__footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  position: relative;
}

.project__footer::before {
  content: '';
  position: absolute;
  top: -200px;
  left: 0;
  height: 200px;
  pointer-events: none;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(59.37%, rgba(255, 255, 255, 0)), to(#FFFFFF));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 59.37%, #FFFFFF 100%);
}

.project__more {
  background: #248DC8;
  border-radius: 8px;
  padding: 16px 50px;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

.project__more:active {
  background: #1F79AB;
}

.project__like {
  width: 22px;
  height: 20px;
  background: url("../images/heart.png");
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

.project__like.active {
  background: url("../images/heart-active.png");
}

.project__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  line-height: 25px;
  color: #1D3F4E;
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: calc(100% - 40px);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.project__title svg {
  margin-left: 10px;
  min-width: 20px;
  min-height: 20px;
}

.project__logo {
  width: 40px;
  height: 40px;
  margin-bottom: 30px;
}

.project__name {
  font-size: 30px;
  line-height: 46px;
  margin-bottom: 3px;
  color: #2B5E74;
  text-align: center;
}

.project__location {
  font-size: 14px;
  line-height: 22px;
  color: rgba(43, 94, 116, 0.8);
  margin-bottom: 12px;
}

.project__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.project__price {
  font-size: 30px;
  line-height: 46px;
  color: #2B5E74;
}

.project__cats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  row-gap: 12px;
}

.project__cat {
  background: #F6F6F6;
  border-radius: 4px;
  font-size: 12px;
  line-height: 18px;
  color: #2B5E74;
  padding: 0px 10px;
  text-align: center;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 36px;
}

.project__req {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.project__req-title {
  font-size: 20px;
  line-height: 31px;
  color: #2B5E74;
  margin-bottom: 6px;
}

.project__content {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(59.37%, rgba(255, 255, 255, 0)), to(#FFFFFF));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 59.37%, #FFFFFF 100%);
  border-radius: 8px;
  padding: 16px 8px 4px 20px;
}

.project__list {
  font-size: 14px;
  line-height: 22px;
  color: rgba(43, 94, 116, 0.8);
}

@media (max-width: 400px) {
  .wrapper {
    padding: 30px 15px;
  }
  .wrapper.pb-0 {
    padding-bottom: 0;
  }
  .popular__slider {
    width: calc(100% + 30px);
    margin-left: -15px;
    padding-left: 15px;
  }
  .popular__slider .swiper-wrapper {
    width: 100%;
  }
  .project {
    width: calc(100% + 30px);
    margin-left: -15px;
    height: calc(100vh - 95px);
  }
}

@media (max-width: 340px) {
  .new__item {
    padding: 12px 16px;
  }
}
/*# sourceMappingURL=style.css.map */